* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 60vh;
  display: flex;
  justify-content: center;
  font-family: "Hanken Grotesk", Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  font-family: "Hanken Grotesk", Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  height: 100%;
}

header {
  text-align: center;
  display: grid;
  gap: 5px;

  h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #f9f4da;
  }

  p {
    font-size: 0.875rem;
    max-width: 350px;
    color: #8e8e8e;
  }
}

.game-status {
  background-color: #10a95b;
  display: grid;
  place-items: center;
  color: #f9f4da;
  padding: 10px;
  border-radius: 5px;
  width: 100%;

  h2 {
    font-size: 1.25rem;
  }
}

.languages,
.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 350px;
  gap: 5px;

  span {
    padding: 5px;
    border-radius: 3px;
  }
}

.keyboard {
  max-width: 400px;
}

.keyboard button {
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 3px;
  border: none;
  background-color: #fcba29;
  border: 1px solid #d7d7d7;
  font-size: 1.125rem;
}

.word-display {
  display: flex;
  gap: 5px;

  span {
    background-color: rgb(75, 75, 75);
    color: white;
    border-bottom: 2px solid #f9f4da;
    padding: 10px 15px;
    border-radius: 2px;
    font-size: 1.125rem;
  }
}

.new-game-btn {
  background-color: #0e91bd;
  border: 1px solid #d7d7d7;
  padding: 7.5px 57.5px;
  border-radius: 5px;
  font-size: 1.125rem;
  font-weight: 500;
}
